
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box,
.box::after {
  border-radius: 50%;
}
.box,
.content {
  overflow: hidden;
}
.hero-large-text,
.name,
.name2,
nav .name {
  font-family: "Bruno Ace SC", cursive;
}
nav .name {
  font-size: x-large;
  margin-top: -1rem;
  padding-inline: 1rem;
}
.nav-list li {
  cursor: pointer;
}
.name,
.name2 {
  font-size: xx-large;
}
.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -20%);
  background-color: transparent;
  width: 400px;
  height: 400px;
}
.arrow-down,
.box::after,
.box::before,
.content,
.hero-large-text,
.hero-text {
  position: absolute;
}
.box::before {
  content: "";
  inset: -10px 140px;
  background: linear-gradient(to bottom right, #ffc165, #89ffff);
  transition: 0.5s;
  animation: 20s linear infinite spin;
}
.box::after {
  content: "";
  inset: 6px;
  background-color: #134e4a;
}
.box:hover::before {
  inset: -20px 0px;
}
.content {
  inset: 30px;
  border: 6px solid #042f2e;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-text {
  display: hidden;
}
.content:hover .content-text {
  display: block;
}
.box:hover .box-image {
  opacity: 0;
}
.hero-text {
  left: 50%;
  top: 75%;
  transform: translate(-50%, -20%);
}
.hero-large-text {
  font-size: large;
  top: 20%;
  left: 20%;
  transform: translate(-40%, 40%);
}
.arrow-down {
  width: 0.005rem;
  height: 4rem;
  background-color: #ffc165;
  left: 50%;
  bottom: 0;
}
#mouse-scroll {
  display: block;
  position: fixed;
  margin: auto;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  z-index: 9999;
}
#mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
  border-right: 2px solid #ffc165;
  border-bottom: 2px solid #89ffff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  transform: none;
  border: 2px solid #01adad;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  animation: 1s infinite mouse-scroll;
}
#mouse-croll .down-arrow-1 {
  animation-delay: 0.1s;
  animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  animation-delay: 0.2s;
  animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  animation-delay: 0.3s;
  animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #ffc165;
  position: relative;
  animation: 1.2s infinite mouse-animated;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
@keyframes animated-mouse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}
@keyframes mouse-scroll {
  0%,
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}
@media screen and (min-width: 390px) {
  .arrow-down,
  .hero-text {
    position: absolute;
    left: 50%;
  }
  .hero-text {
    top: 60%;
    transform: translate(-50%, -20%);
  }
  .arrow-down {
    width: 0.005rem;
    height: 5rem;
    background-color: #ffc165;
    bottom: 15%;
  }
}
@media screen and (min-width: 600px) {
  .name {
    margin-top: 2rem;
    margin-left: 8%;
  }
  .hero-large-text {
    top: 10%;
    left: 30%;
    transform: translate(-40%, 40%);
    font-size: x-large;
  }
  .arrow-down {
    width: 0.005rem;
    height: 5rem;
    background-color: #ffc165;
    position: absolute;
    left: 50%;
    bottom: 0;
  }
}
@media screen and (min-width: 900px) {
  .name-logo {
    animation: 1s forwards slideRight;
  }
  .nav-list li {
    transition: 0.3s;
    animation: 0.5s backwards slideTop;
  }
  .nav-list li:first-child {
    animation-delay: 0s;
  }
  .nav-list li:nth-child(2) {
    animation-delay: 0.1s;
  }
  .nav-list li:nth-child(3) {
    animation-delay: 0.2s;
  }
  .nav-list li:nth-child(4) {
    animation-delay: 0.3s;
  }
  .hero-large-text {
    top: 20%;
    left: 20%;
    transform: translate(-40%, 40%);
    font-size: large;
    max-width: 45rem;
  }
  .hero-large-text h1 {
    opacity: 0;
    animation: 1s 0.7s forwards slideRight;
  }
  .hero-large-text h3 {
    opacity: 0;
    animation: 1s 0.7s forwards slideBottom;
  }
  .hero-large-text h3:nth-of-type(2) {
    animation: 1s 0.7s forwards slideTop;
  }
  .box {
    position: relative;
    left: 70%;
    z-index: 1;
    opacity: 0;
    animation: 1s 1s forwards slideLeft;
  }
  .setup {
    opacity: 0;
    animation: 1s 1.2s forwards slideRight;
  }
  .punchline {
    opacity: 0;
    animation: 1s 1.4s forwards slideLeft;
  }
  @keyframes slideRight {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideTop {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideBottom {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
